:root {
    --cor-primaria: #4852d6;
    --cor-secundaria: #3782d2;
    --cor-fundo: #ffffff;
    --cor-texto: #151428;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;
    --fonte-texto: 'Segoe UI', sans-serif;
}

.tema-escuro {
    --cor-primaria: #20265c;
    --cor-secundaria: #6db5ff;
    --cor-fundo: #151428;
    --cor-texto: #ffffff;
    --cor-contraste: #dcecff;
    --cor-botao: #252542;
}

body {
    max-width: 100vw;
    margin: 0;
    font-family: var(--fonte-texto);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-wrap: wrap;
}

.tema-escuro p {
    color: var(--cor-texto);
}

.tema-escuro a {
    color: var(--cor-secundaria);
}

.btn-tema-escuro {
    position: fixed;
    bottom: 16px;
    right: 16px;

    font-size: 32px;
    padding: 12px;

    background-color: var(--cor-primaria);

    border-radius: 50%;
    border: none;

    cursor: pointer;
}