* {
    transition: background-color 0.3s ease;
}
:root {
    --cor-primaria: #4852d6;
    --cor-secundaria: #3782d2;
    --cor-fundo: #ffffff;
    --cor-texto: #151428;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;
    --fonte-texto: 'Segoe UI', sans-serif;
}

/* MODO ESCURO */
.tema-escuro {
    --cor-primaria: #20265c;
    --cor-secundaria: #6db5ff;
    --cor-fundo: #151428;
    --cor-texto: #ffffff;
    --cor-contraste: #dcecff;
    --cor-botao: #252542;
}
.tema-escuro .btn-tema-escuro {
    background-color: var(--cor-secundaria);
}

/* PÁGINA */
body {
    max-width: 100vw;
    margin: 0;
    font-family: var(--fonte-texto);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

/* CABEÇALHO */
header {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    border: 9px solid #6054d1;
}

/* CONTEÚDO */
main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-wrap: wrap;
}

/* POSTS */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
}

/* IMAGENS */
img {
    width: 80px;
    height: 80px;
}

/* AUTOR */
.artigo-autor {
    font-weight: bold;
}

/* FONTE */
.artigo-fonte {
    font-size: 14px;
    font-style: italic;
}

/* PARÁGRAFOS */
p {
    font-weight: bold;
}

/* LINKS */
a {
    color: var(--cor-secundaria);
}

.tema-escuro a {
    color: var(--cor-secundaria);
}

/* PARÁGRAFOS NO MODO ESCURO */
.tema-escuro p {
    color: var(--cor-texto);
}

/* TEXTO DO CABEÇALHO NO MODO ESCURO */
.tema-escuro header p {
    color: var(--cor-contraste);
}

/* BOTÕES DE CURTIDA */
.botao {
    background-color: var(--cor-botao);
    color: var(--cor-texto);

    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;

    padding: 8px 14px;
    margin: 4px;

    cursor: pointer;
    font-size: 16px;
}

/* BOTÃO DA LUA 🌙 */
.btn-tema-escuro {
    position: fixed;

    bottom: 16px;
    right: 16px;

    font-size: 32px;
    padding: 12px;

    background-color: var(--cor-primaria);

    border-radius: 50%;
    border: none;

    cursor: pointer;
}